<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"></add>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write to file  -->
		<target xsi:type="File" name="alldata" fileName="ElasticSearchTestLog4Net-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- another file log. Uses some ASP.NET core renderers -->
		<target xsi:type="File" name="otherFile-web" fileName="ElasticSearchTestLog4Net-Other-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	</targets>
	
	<targets async="true">
		<target name="elastic"
            xsi:type="ElasticSearch"
            index="elastic-search-test-log-4-net" uri="http://19.19.19.111:9200"
            layout ="API:SpecificName |${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" >
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="alldata" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="otherFile-web" />
		
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" ></logger>
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" ></logger>
    <logger name="*" minlevel="Trace" writeTo="database" ></logger>-->
		<logger name="*" minlevel="Trace" writeTo="elastic" ></logger>
	</rules>
</nlog>
