@model Stankins.Interfaces.IDataToSent
@{
	var angular="@angular";
	var Injectable = "@Injectable";
	var dt= Model.FindAfterName("@Name@").Value;
	var nameTable =dt.TableName;
	var nrCols= dt.Columns.Count;
	string lowerCaseFirst(string s){
		return char.ToLower(s[0]) + s.Substring(1);
	}
}


<table>
	<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
					</tr>
				</thead>
	
		@for(int iCol = 0;iCol < nrCols; iCol++){
                var col = dt.Columns[iCol];
                var colName= col.ColumnName ;
                
                <text>
				<tr>
				<td>@colName</td>
								<td>
					<input type="text"  [(ngModel)]="dataToEdit.@(colName)" />
				</td>
				</tr>

				
                </text>

            }
</table>