@model Stankins.Interfaces.IDataToSent
@{
	var angular="@angular";
	var Injectable = "@Injectable";
	var dt= Model.FindAfterName("@Name@").Value;
	var nameTable =dt.TableName;
	var nrCols= dt.Columns.Count;
	string lowerCaseFirst(string s){
		return char.ToLower(s[0]) + s.Substring(1);
	}
	string nameProperty(string original){
		return original.Replace(" ","").ToLower();
	}
}


<br />
<h1>
List of @(nameTable)
</h1>

<mat-form-field>
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="filter text" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
	<table mat-table [dataSource]="dataSource" matSort>

		@for(int iCol = 0;iCol < nrCols; iCol++){
			var col = dt.Columns[iCol];
			var colName= col.ColumnName ;
			var routeName = lowerCaseFirst(nameProperty(colName));
			string display="{{row." + lowerCaseFirst(nameProperty(colName))+"}}";
			<text>
	
	  <ng-container matColumnDef="@(lowerCaseFirst(nameProperty(colName)))">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> @(colName) </th>
		<td mat-cell *matCellDef="let row"> @(display) </td>
	  </ng-container>
		  </text>
		}
  
	  <ng-container matColumnDef="operations">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Operations </th>
		<td mat-cell *matCellDef="let row" > <a routerLink="/@(routeName)/edit/{{row.id}}" >Edit</a>
		
			&nbsp;
			<button (click)="deleteData(row.id)">Delete</button>
			
		</td>
	  </ng-container>
  
	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
	  <!-- Row shown when there is no matching data. -->
	  <tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="4">No data in @(nameTable) matching the filter "{{input.value}}"</td>
	  </tr>
	</table>
  
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <button (click)="add()">Add new @(nameTable)</button>
