
<form asp-controller="Home" asp-action="UploadExcelToObtainFields" method="post"
      enctype="multipart/form-data">

    <div id="excel" >
        <h2>
            Put the excel to obtain fields

            <input type="file" name="file" id="fileToSubmit" />

        </h2>
        <input type="submit" value="Send!"/>
</div>
</form>