
<form asp-controller="Home" asp-action="UploadExcelToObtainFields" method="post"
      enctype="multipart/form-data">
    Endpoint :  /Home/UploadExcelToObtainFields
    <div id="excel">
        <h2>
            Put the excel to obtain fields

            <input type="file" name="file" id="fileToSubmit" />

        </h2>
        <input type="submit" value="Send!" />
    </div>
</form>

<form asp-controller="Home" asp-action="MariaDBConnectionToObtainFields" method="post"
      enctype="multipart/form-data">
    Endpoint :  /Home/MariaDBConnectionToObtainFields
    <div id="excel">
        <h2>
            Put the MariaDB connection

            <input type="text" name="connection" value="" />

        </h2>
        <input type="submit" value="Send!" />

    </div>
</form>

<br />
<br />

<br />

<button onclick="javascript:sendMaria()">XHR send</button>

<script>
    function sendMaria() {

        var payloadConn = {
            connType: 'MARIADB',
            connFileName: null,
            connFileContent: null,
            connHost: 'andreiTest',
            connUser: 'andreiTest',
            connPassword: 'andreiTest',
            connDatabase: 'andreiTest',
            connPort: ''
        };
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/home/FindTables', true);

        //Send the proper header information along with the request
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () { // Call a function when the state changes.
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                // Request finished. Do processing here.
                console.log(this);
                window.alert(this.responseText);
            }
        }
        xhr.send(JSON.stringify(payloadConn));
    }

</script>