
<form asp-controller="Home" asp-action="UploadExcelToObtainFields" method="post"
      enctype="multipart/form-data">
    Endpoint :  /Home/UploadExcelToObtainFields
    <div id="excel">
        <h2>
            Put the excel to obtain fields

            <input type="file" name="file" id="fileToSubmit" />

        </h2>
        <input type="submit" value="Send!" />
    </div>
</form>

<form asp-controller="Home" asp-action="MariaDBConnectionToObtainFields" method="post"
      enctype="multipart/form-data">
    Endpoint :  /Home/MariaDBConnectionToObtainFields
    <div id="excel">
        <h2>
            Put the MariaDB connection

            <input type="text" name="connection" value="Server=alex360.go.ro;Database=data_to_code;User Id=root;Password=datatocode;Port=85" />

        </h2>
        <input type="submit" value="Send!" />
    </div>
</form>